* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


html {
    scroll-behavior: smooth;
}

h2 {
    padding-top: 25px;
}

.simple_icon {
    height: 100px;
    width:  100px;
    fill: #0000ff;
}

form {
    padding-bottom: 25px;
}

.footer-container {
    padding: 10px;
    list-style: none;
    text-align: center;
}
