.my_icon {
    margin: 10px;
    border-radius: 9999px;
    width: 50vw;
    min-width: 46px;
    max-width: 200px;
}
.sns_icon {
    margin-right: 5px;
    width: 50vw;
    min-width: 25px;
    max-width: 25px;
}
.profile {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.about-containts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}