* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    background-color: rgb(28, 38, 55);
    color: #ffffff;
}

/* タイトル */
h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

h4::before {
    content: "#### ";
}

h5::before {
    content: "##### ";
}

h6::before {
    content: "###### ";
}

/* 改行 */
br {
    content: "";
}

br::before {
    content: "  \a";
    white-space: pre;
}

/* リンク */
a {
    color: rgb(98, 186, 238);
    text-decoration: underline;
}

a::before {
    content: "[";
}

a::after {
    content: "](" attr(href) ")";
}

/* リスト */
ul>li::before {
    content: "- ";
}

ol {
    counter-reset: ol-counter;
}

ol>li {
    counter-increment: ol-counter;
}

ol>li::before {
    content: counter(ol-counter) ". ";
}

/* ネストに対応するなら、ネストの数だけセレクタを書く必要がある */
:where(ul, ol) ul>li::before {
    content: "  - ";
    white-space: pre;
}

:where(ul, ol) ol>li::before {
    content: "  " counter(ol-counter) ". ";
    white-space: pre;
}

/* 画像 */
img {
    content: url("dummy");
}

img::before {
    content: "![";
}

img::after {
    content: "](" attr(src) ")";
}

/* テーブル */
th {
    text-align: start;
}

th::before,
td::before {
    content: "| ";
}

tr::after {
    content: " |";
}

thead th::after {
    content: "| -----";
    display: block;
}

thead th:last-child::after {
    content: "| ----- |";
}

thead th[style*="left"]::after {
    content: "| :--- ";
}

thead th[style*="left"]:last-child:after {
    content: "| :--- |";
}

thead th[style*="center"]::after {
    content: "| :---: ";
}

thead th[style*="center"]:last-child:after {
    content: "| :---: |";
}

thead th[style*="right"]::after {
    content: "| ---: ";
}

thead th[style*="right"]:last-child:after {
    content: "| ---: |";
}

/* チェックボックス */
input[type="checkbox"] {
    /* リセット */
    appearance: none;
    color: #ffffff;
}

input[type="checkbox"]::before {
    content: "[ ] ";
    white-space: pre;
}

input[type="checkbox"]:checked::before {
    content: "[x] ";
}

footer {
    padding: 10px;
    text-align: center;
}